<td>{{id}}</td>
<td>{{description}}</td>
<td>{{staffType.id}}</td>
<td>{{department.id}}</td>
<td>{{site.id}}</td>
<td>{{lineManager}}</td>
<td class="text-right">
    <button class="btn btn-transparent edit-btn" data-id="{{optimeIndex}}">
        <span class="osci osci-pen"></span>
    </button>
    <button class="btn btn-transparent delete-btn" data-id="{{optimeIndex}}">
        <span class="osci osci-delete"></span>
    </button>
</td>